<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Nanopore Sequencing </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <a class="navbar-brand m-2" href="#">  Nanopore Sequencing</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <!-- BODY -->
    <div class="container">
        <div class="row p-4"></div>
        <div class="row bg-light">
            <div class = "col-12 p-3">
                <table class="table table-borderless table-hover text-center w-auto p-4">
                    <tr>
                        <th scope="col">Species</th>
                        <th scope="col">Scientific Name</th>
                        <th scope="col">Sequence</th>
                        <th scope="col">Signal</th>
                    </tr>
                    <tr>
                        <th scope="row">
                                <select class="form-control text-center w-auto" name="sort" id="chosen_species">
                                    <option value="" selected disabled hidden>choose a species</option>
                                </select>
                            <td id="scientific_name"> None </td>
                            <td id="sequence"> None </td>
                            <td>
                                <button type="button" class="btn btn-primary" id="generate_signal">generate signal</button>
                            </td>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
      <div class="row">
        <!--<div class="col p-3 w-auto"><div class="bg-warning" id="generated_signal_output">
        </div> -->
          <p class="text-break bg-warning" id = "generated_signal_output"></p>
        </div>
      </div>
    </div>
</div>
    </div>
</form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

  </body>
</html>